#titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: rgb(0, 0, 0);
}

body{
    background-image: url("../img/v1015-104a.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
}

#grid{
    display: grid;
    grid-template-columns: repeat(5, 12rem);
    justify-content: center;
    align-items: center;
    gap: 0px;
    padding: 10px;
    background-color: rgba(31, 139, 255, 0.814);
    border: rgba(255, 255, 255, 0.429) solid 2px;
    border-radius: 10px;
    height: auto;
    width: 59rem;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0.6);
}

#resultado{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    font-family: Arial;
    margin: 1rem;
}

.dia{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    color: rgb(0, 0, 0);
    font-family: Arial;
    border-bottom: 0.2rem solid rgb(255, 255, 255);
    font-weight: bold;
}
.temp{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    font-family: Arial;
    gap:5px;
}
.temp1{
    font-weight: bold;
}

.umidade{
    color: rgb(0, 0, 0);
    font-family: Arial;
    font-size: 1rem;
    font-weight: bold;
}
.umidade-conteiner{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center; /* 🔥 isso resolve */
    align-items: center;
    gap: 5px;
}

.secao{
    margin: 0;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 1rem;
}

#cidade1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: 0.5rem;
    color: rgb(0, 0, 0);
    font-family: Arial;
    border-radius: 10px 0px 0 10px;
    width: 20rem;
}
#consulta{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: 0.5rem;
    color: rgb(0, 0, 0);
    font-family: Arial;
    border-radius: 0px 10px 10px 0px;
}
.status-conteiner{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center; /* 🔥 isso resolve */
    align-items: center;
    gap: 5px;
}